---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article>
    {% if page.image %} {% assign page_image = page.image.path | default:
    page.image %} {% unless page_image contains '://' %} {% assign page_image =
    page_image | relative_url %} {% endunless %} {% assign page_image =
    page_image | escape %}

    <div class="pudi-image">
      <img
        src="{{ page_image }}"
        class="entry-feature-image u-photo"
        alt="{{ page.title }}"
        {%
        unless
        site.logo
        %}style="margin-top: 0;"
        {%
        endunless
        %}
      />
      {% if page.image.caption %}
      <div class="pudi-image-caption">
        {{ page.image.caption | markdownify }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="page-wrapper">
      <header class="page-header">
        {% if page.id %} {% assign title = page.title | markdownify | strip_html
        %} {% else %} {% assign title = page.title %} {% endif %} {% if
        page.link %}
        <h1 id="page-title" class="page-title">
          <a href="{{ page.link }}"
            >{{ title }} <span class="link-arrow">&rarr;</span></a
          >
        </h1>
        {% else %}
        <h1 id="page-title" class="page-title">{{ title }}</h1>
        {% endif %}
        <div>
          <img
            style="margin-bottom: 1em"
            src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&count_bg=%23BFBFBF&title_bg=%23BFBFBF&title=Views&edge_flat=false"
          />
        </div>
      </header>
      <div class="page-content">
        {{ content }} {% assign recipes_count = 0 %} {%- for entry in
        site.recipes -%} {% if entry.pudi == page.title %} {% assign
        recipes_count = recipes_count | plus: 1 %} {% endif %} {%- endfor -%} {%
        if recipes_count > 0 %} {% include recipes.html taxonomy=page.title %}
        {% endif %} {% if page.share %} {% include social-share.html %} {% endif
        %}
      </div>
    </div>
  </article>
</main>
